*
    margin: 0
    padding: 0
    box-sizing: border-box

// Fontes
@font-face 
    font-family: 'pixel'
    src: url('../fonts/pixel.ttf')
@font-face 
    font-family: 'digital'
    src: url('../fonts/digital.ttf')

// Cores
$corCalculadora: #3d4147
$corCalculadoraEscuro: #1a1b21

$corVisor: #64b47c
$corEscuroVisor: #096b3d
$corBotao: #F2EBBF
$corConteudoBotao: #a87240

$corNumeros: #146665
$corFundoNumeros: #8CBEB2
$corIgual: #c44f47
$corFundoIgual: #F3C486

body
    background-color: gray

#configuracoes
    position: fixed
    top: 20px
    right: 20px
    cursor: pointer

#calculadora
    margin-top: 25px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    position: absolute  
    left: 25% 
    height: 90vh
    border-radius: 15px
    width: 100vh
    background-color: $corCalculadora
    box-shadow: 0 10px 0 $corCalculadoraEscuro

    table
        width: 90vh 
        border-collapse: collapse
        margin: 0 auto

    // Configuração para todos os botões
    button
        border: none
        border-radius: 3px
        margin: 0 0px 6px 0px 
        padding: 10px 15px 
        height: 100%
        width: 95%
        font: 1.2em pixel
        border-color: $corBotao
        background-color: $corBotao
        color: $corConteudoBotao
        box-shadow: 0 4px 0
        transition-duration: .2s

    // Animação do botão descendo
    button:active
        transform: translateY(2px)
        box-shadow: 0 2px 0

    button.numero
        color: $corNumeros
        background-color: $corFundoNumeros

    button.igual
        width: 97.5%
        color: $corIgual
        background-color: $corFundoIgual

// Span do resultado - Visor
#visor
    padding: 10px
    width: 90%
    border-radius: 5px
    color: $corEscuroVisor
    background-color: $corVisor
    box-shadow: 0 5px 0 $corEscuroVisor

    // alinhado a esquerda
    #visor-insercao
        height: 32px // Conforme tamanho do texto
        font: 2em digital 

    // alinhado a direita
    #visor-resultado
        font: 2.2em digital
        font-weight: bold
        text-align: right
        height: 34px // Conforme tamanho do texto

#botoes-memoria
    button
        margin-bottom: 20px

    button.apagar
        color: $corIgual
        background-color: $corFundoIgual