* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "pixel";
  src: url("../fonts/pixel.ttf");
}
@font-face {
  font-family: "digital";
  src: url("../fonts/digital.ttf");
}
#configuracoes, #historico {
  display: none;
  margin-top: 2vh;
  position: absolute;
  left: 35%;
  top: 5%;
  padding: 20px;
  width: 30%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
  z-index: 2;
}
#configuracoes span, #historico span {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}
#configuracoes span.titulo-config, #historico span.titulo-config {
  margin-bottom: 20px;
}
#configuracoes h1, #historico h1 {
  font: 1.2em pixel;
  color: #fff;
}
#configuracoes p, #historico p {
  font: 1em pixel;
  color: #fff;
}
#configuracoes ion-icon, #historico ion-icon {
  color: #fff;
  cursor: pointer;
}

#configuracoes select {
  padding: 5px;
  width: 200px;
  font: 0.8em pixel;
}

#calculadora {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 25%;
  height: 100%;
  border-radius: 15px;
  width: 50%;
}
#calculadora .icons {
  display: flex;
  justify-content: right;
  width: 95%;
}
#calculadora .icons ion-icon {
  margin: 10px 10px 10px 0;
  cursor: pointer;
}
#calculadora .icons #mudar-tema {
  margin-right: 15px;
  width: auto;
  height: 30px;
  font-size: 0.7em;
}
#calculadora #avisos {
  margin-top: 20px;
  font: 0.8em pixel;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#calculadora section {
  margin-top: 10px;
  width: 100%;
}
#calculadora table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
}
#calculadora table#botoes-basico td {
  width: 20%;
}
#calculadora table#botoes-memoria td, #calculadora table#botoes-avancado td {
  width: 16.66%;
}
#calculadora button {
  position: relative;
  border: none;
  border-radius: 3px;
  margin-top: 8px;
  padding: 10px;
  height: 100%;
  width: 95%;
  font: 1.2em pixel;
  box-shadow: 0 4px 0;
  transition-duration: 0.2s;
}
#calculadora button[data-tooltip]::after {
  content: attr(data-tooltip);
  visibility: hidden;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  z-index: 1;
  font-size: 12px;
  pointer-events: none;
}
#calculadora button[data-tooltip]::before {
  content: "";
  visibility: hidden;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #333;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}
#calculadora button.tooltip-esquerda[data-tooltip]::after {
  left: auto;
  right: 110%;
}
#calculadora button.tooltip-esquerda[data-tooltip]::before {
  left: auto;
  right: 100%;
  border-color: transparent #333 transparent transparent;
}
#calculadora button[data-tooltip]:hover::after,
#calculadora button[data-tooltip]:hover::before {
  visibility: visible;
  opacity: 1;
}
#calculadora button[data-tooltip]:hover::after:hover {
  visibility: hidden;
  opacity: 0;
}
#calculadora button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0;
}
#calculadora button.igual {
  width: 97.5%;
}

#visor {
  padding: 10px;
  width: 90%;
  border-radius: 5px;
}
#visor #visor-insercao {
  height: 32px;
  font: 2em digital;
}
#visor .visorinferior {
  display: flex;
  justify-content: space-between;
}
#visor #visor-resultado {
  text-align: right;
}
#visor #visor-resultado, #visor #visor-memoria {
  font: 2.2em digital;
  font-weight: bold;
  height: 34px;
}/*# sourceMappingURL=style.css.map */