*
    margin: 0
    padding: 0
    box-sizing: border-box

// Div responsável pela calculadora
#calculadora
    border: 2px solid red
    width: 50%

// Parágrafo do resultado - Visor
#resultado
    border: 2px solid blue
    padding: 10px
    font-size: 1.5em