body.tema-padrao {
    --cor-calculadora: #3d4147;
    --cor-calculadora-escuro: #1a1b21;

    --cor-fundo: gray;

    --cor-visor: #64b47c;
    --cor-escuro-visor: #096b3d;
    --cor-icons: gray;
    --cor-botao: #a87240;
    --cor-fundo-botao: #F2EBBF;

    --cor-numeros: #146665;
    --cor-fundo-numeros: #8CBEB2;
    --cor-destaque: #c44f47;
    --cor-fundo-destaque: #F3C486;
}

body.tema-madoka {
    --cor-calculadora: #f9afbb;
    --cor-calculadora-escuro: #bf344d;

    --cor-fundo: #83E589;

    --cor-visor: #fadce3;
    --cor-escuro-visor: #f58092;
    --cor-icons: #fadce3;
    --cor-botao: #f58092;
    --cor-fundo-botao: #fadce3;

    --cor-numeros: #d1566c;
    --cor-fundo-numeros: #f78da4;
    --cor-destaque: #bf344d;
    --cor-fundo-destaque: #fa7390;
}

body.tema-homura {
    --cor-calculadora: #342845;
    --cor-calculadora-escuro: #261a2b;

    --cor-fundo: #625673;

    --cor-visor: #6d597d;
    --cor-escuro-visor: #2e1d33;
    --cor-icons: #6d597d;
    --cor-botao: #2e1d33;
    --cor-fundo-botao: #6d597d;

    --cor-numeros: #221b36;
    --cor-fundo-numeros: #6c6c96;
    --cor-destaque: #8a6dad;
    --cor-fundo-destaque: #573066;
}

body {
    background-color: var(--cor-fundo);
}

#calculadora {
    background-color: var(--cor-calculadora);
    box-shadow: 0 10px 0 var(--cor-calculadora-escuro);
}

#calculadora .icons,
#calculadora .icons a {
    color: var(--cor-icons);
}

#calculadora button {
    border-color: var(--cor-fundo-botao);
    background-color: var(--cor-fundo-botao);
    color: var(--cor-botao);
}

#calculadora button[data-tooltip]::after {
    background-color: #333;
    color: #fff;
}

#calculadora button.numero {
    color: var(--cor-numeros);
    background-color: var(--cor-fundo-numeros);
}

#calculadora button.igual {
    color: var(--cor-destaque);
    background-color: var(--cor-fundo-destaque);
}

#visor {
    color: var(--cor-escuro-visor);
    background-color: var(--cor-visor);
    box-shadow: 0 5px 0 var(--cor-escuro-visor);
}

#visor #visor-memoria {
    color: var(--cor-visor);
}

#visor #visor-memoria.com-memoria {
    color: var(--cor-escuro-visor);
}

#botoes-memoria button.apagar {
    color: var(--cor-destaque);
    background-color: var(--cor-fundo-destaque);
}